# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
env/
.venv/

# Poetry
.poetry/
poetry.lock

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env
